@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
    font-family: 'Manrope', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-heading {
    font-family: 'Urbanist', sans-serif;
}